@import '../node_modules/reset-css/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans:wght@300;400;700&display=swap');



body {
  background-image: url('./images/corkboard.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

